@import 'styles/_mods.scss';

.header-link {
  white-space: nowrap;

  border-radius: $x2;
  padding: $x1;

  box-shadow: $depth1;
}

.header-link-active {
  @extend .header-link;

  background-color: $color-main;
  color: $color-text-light;

  filter: none;
  transition: filter 0.1s ease-in-out;

  &:active {
    filter: brightness(0.8);
  }
}

.header-link-inactive {
  @extend .header-link;

  background-color: $color-inactive;
  color: $color-text-inactive;
}
