@import 'styles/_mods.scss';

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.alarm {
  margin-top: $x2;
  border-radius: $x2;
  padding: $x2;

  background-color: $color-background;

  animation: appear $animation 0.5s forwards;
  //   -webkit-animation: appear $animation 0.5s forwards;
}

.alarm-news {
  @extend .alarm;

  background-color: lightgreen;
}

.alarm-error {
  @extend .alarm;

  background-color: lightpink;
}
