@import 'styles/_mods.scss';
@import 'styles/_mixins.scss';

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-background;
}

h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  margin: 0;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

span,
select,
input,
textarea {
  margin-top: $x2;
  font-size: 1em;
}

select,
input,
textarea {
  border: $border-secondary;
  border-radius: $x2;
  padding: $x1;
}

select {
  width: auto;
}

textarea {
  width: auto;
  max-width: 99vw;
  height: 2 * $x20;
  border: $border-secondary;

  resize: vertical;
  overflow: auto;
}

button {
  @include text-ellipsis;

  font: inherit;

  border: none;
  border-radius: $x2;
  padding: $x1;

  box-shadow: $depth1;

  background-color: $color-main;
  color: $color-text-light;

  margin-top: $x3;

  outline: none;

  filter: none;
  transition: filter 0.1s ease-in-out;

  &:active {
    filter: brightness(0.8);
  }
}
