@import 'styles/_mods.scss';

.news {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: lightgreen;
  border-radius: $x2;
  padding: $x2;
}

.text {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.tag {
  margin: $x1;
}
