@import 'styles/_mods.scss';

$header-height: $x20;

// @keyframes slide-in {
// 	0% {
// 		transform: scale(0);
// 	}
// 	100% {
// 		transform: scale(1);
// 	}
// }

// @-webkit-keyframes slide-in {
// 	0% {
// 		-webkit-transform: scale(0);
// 	}
// 	100% {
// 		-webkit-transform: scale(1);
// 	}
// }

.header {
	// animation: slide-in cubic-bezier(0.57, 0.21, 0.69, 1.84) 0.5s forwards;
	// -webkit-animation: slide-in cubic-bezier(0.57, 0.21, 0.69, 1.84) 0.5s forwards;

	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;

	height: $header-height;
	width: 100%;

	border-bottom: solid $x025 $color-inactive;
}

.header-title {
	flex-grow: 1;
	flex-shrink: 1;

	margin: 0 $x4;

	overflow: hidden;
	white-space: nowrap;

	position: relative;

	&:after {
		position: absolute;
		right: 0;
		top: 0;

		height: $x12;
		min-width: $x8;

		user-select: none;
		background: linear-gradient($fade-gradient-white);
		content: '';
	}
}

.header-links {
	display: inline-flex;

	&:last-child {
		margin-right: $x4;
	}
}

.link {
	margin-right: $x2;
}

@media screen and (max-width: $max-width-tablet) {
	.header {
		flex-direction: column;

		height: auto;
	}

	.header-title {
		margin: $x4 $x2 $x2;

		overflow-x: visible;
		white-space: normal;

		text-align: center;

		position: relative;

		&:after {
			display: none;
		}
	}

	.header-links {
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 0 $x2 0;

		&:last-child {
			margin-right: 0;
		}
	}

	.link {
		margin: $x1;
	}
}
